

.overlayWrapper, .overlayScrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlayWrapper {
  z-index: 500;
  overflow: hidden;

  .overlayScrim {
    background-color: hsla(0, 0%, 25%, 0.5);
  }

  .contentWrapper {
    z-index: 510;
  }
}