body {
  font-family: sans-serif;
  background-color: #efefef;
}

button {
  background-color: hsl(209, 30%, 50%);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #efefefef;
  cursor: pointer;

  &:hover {
    filter: saturate(2);
  }
}

.formField {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: auto auto;
}

// Story Styles

.storybook--overlay-wrapper {
  display: flex;
  justify-content: center;

  padding-top: 1rem;

  .storybook--overlay-content {
    background-color: #efefef;
    border-radius: 0.5rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 0.5rem;
    padding: 1rem;


    header {
      display: flex;
      justify-content: space-between;

      grid-row: 1;

      h2 { margin: 0 }
    }
  
    footer {
      display: flex;
      justify-content: flex-end;
      column-gap: 1rem;

      grid-row: 3;
    }
  }
}

.storybook--modal {
  h2 {
    margin: 0;
    padding: 0.5rem 0;
  }

  footer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;

    column-gap: 1rem
    ;
  }
}

.storybook--drawer {
  padding: 0.5rem;
}